<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- materialize compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- materialize compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Beverage Viber</title>
</head>
  <!-- nav bar -->
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a class="brand-logo yellow-text text-accent-4 text-lightest">The Beverage Viber</a>
      <!-- nav list -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session_data.loggedIn}}
        <!-- modal trigger -->
        <li><a href="#modal1" class="waves-effect waves-light btn light-blue darken-1 modal-trigger">Hello {{session_data.username}}</a></li>
        <li><a href="#footer" class="waves-effect waves-light btn light-blue darken-1">About</a></li>
        <li><a id="logout" class="waves-effect waves-light btn light-blue darken-1">Log Out</a></li>
        {{else}}
        <li><a href="#modal1" class="waves-effect waves-light btn light-blue darken-1 modal-trigger">Hello There</a></li>
        <li><a href="#footer" class="waves-effect waves-light btn light-blue darken-1">About</a></li>
        <li><a href="/login-signup" class="waves-effect waves-light btn light-blue darken-1">Login/Signup</a></li>
        {{/if}}
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<body>
  <!-- main page content -->
  <main>
    <!-- parallax -->
    <div class="parallax-container">
      <div class="parallax"><img src="/images/erol-ahmed-54hUU5pNSvo-unsplash.jpeg"></div>
    </div>
    {{{body}}}
  </main>
<!-- footer -->
  <footer id="footer" class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="yellow-text text-accent-4 text-lightest">The Beverage Viber</h5>
          <p class="grey-text text-lighten-4 text-lighter">Are you a coffee fanatic? Do you prefer a lovely dose of Chai? Can't decide??? Well do we have an app for you!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="yellow-text text-accent-4 text-lightest">Contact Us!</h5>
          <ul id="icon-set">

            <!-- Cat -->
            <li><a class="grey-text text-lighten-3" href="https://github.com/catupperman" target="_blank"><img class="icon" src="https://avatars.githubusercontent.com/u/84750356?v=4" alt="catupperman" title="Cat"></a></li>

            <!-- John-Mark -->
            <li><a class="grey-text text-lighten-3" href="https://github.com/Kalmnir" target="_blank"><img class="icon" src="https://avatars.githubusercontent.com/u/84051952?v=4" alt="Kalmnir" title="John-Mark"></a></li>

            <!-- Kira -->
            <li><a class="grey-text text-lighten-3" href="https://github.com/j1741" target="_blank"><img class="icon" src="https://avatars.githubusercontent.com/u/84889065?v=4" alt="J1741" title="Kira"></a></li>

            <!-- Shobair -->
            <li><a class="grey-text text-lighten-3" href="https://github.com/shobes572" target="_blank"><img class="icon" src="https://avatars.githubusercontent.com/u/60012742?v=4" alt="shobes572" title="Shobair"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container yellow-text text-accent-4 text-lighter">
      Copyright © 2021
      </div>
    </div>
  </footer>

  <!-- modal content -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

   <!-- hamburger menu content -->
  <ul class="sidenav" id="mobile-demo">
    <!-- modal trigger -->
    {{#if session_data.loggedIn}}
    <li><a href="#modal1" class="modal-trigger">Hello {{session_data.username}}</a></li>
    <li><a href="#footer">About</a></li>
    <li><a id="logout">Log Out</a></li>
    {{else}}
    <li><a href="#modal1" class="modal-trigger">Hello There</a></li>
    <li><a href="#footer">About</a></li>
    <li><a href="/login-signup">Log In or Sign Up</a></li>
    {{/if}}
  </ul>
  <script src="/js/script.js"></script>
  <script>
    // Event listener to load materialize elements on page load
    document.addEventListener('DOMContentLoaded', () => {
      const ModalElems = document.querySelectorAll('.modal');
      const SidebarElems = document.querySelectorAll('.sidenav');
      const ParallaxElems = document.querySelectorAll('.parallax');
      const ModalInstances = M.Modal.init(ModalElems, {});
      const SidebarInstances = M.Sidenav.init(SidebarElems, {});
      const ParallaxInstances = M.Parallax.init(ParallaxElems, {});
    });
  </script>
</body>
</html>